:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}

#root {
  padding: 20px 20px;
}

@media (min-width: 768px) {
  #root {
    padding: 20px 60px;
  }
}

@media (min-width: 1280px) {
  #root {
    padding: 20px 120px;
  }
}
